.elements {
  background-color: #000;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 920px) {
  .elements {
    max-width: 584px;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }
}

@media screen and (max-width: 620px) {
  .elements {
    max-width: 282px;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding-top: 36px;
  }
}
