.popup__input {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.21;
  padding-top: 29px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

textarea:focus, input:focus{
  outline: none;
}
