.profile__open-window {
  border: none;
  background: black;
  padding: 0;
  width: 24px;
  height: 24px;
  background-image: url("../../../images/profile-button.svg");
  background-size: cover;
  position: absolute;
  right: -42px;
  top: 18px;
}

.profile__open-window:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .profile__open-window {
    top: 44px;
  }
}

@media screen and (max-width: 620px) {
  .profile__open-window {
    top: 35px;
    width: 18px;
    height: 18px;
    right: -28px;
  }
}
