.popup__error-message {
  color: #FF0000;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.21;
  padding: 0px;
  position: absolute;
  bottom: 0px;
  transform: translateY(100%);
  z-index: 1;
}
